<section id="contact">
  <div class="container">
    <div class="contact-box glass-card">
      <div class="contact-copy">
        <h2>Descubre la talla correcta de tus clientes antes de que compren</h2>
        <p>
         Deja de perder el tiempo midiendo tu pie con herramientas tradicionales, utiliza Thoth y ahorrate dolores de cabeza
        </p>
      </div>

      <form class="contact-form">
        <input type="text" placeholder="Tu nombre" />
        <input type="email" placeholder="Tu correo" />
        <textarea rows="5" placeholder="¿Quieres conocer más sobre la solución?"></textarea>
        <button type="submit" class="btn btn-primary">Solicitar propuesta</button>
      </form>
    </div>
  </div>
</section>